header {
  background-color: #030303;
  padding: 20px;
  width: 100vw;
  color:aliceblue;
  font-size: larger;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav a {
  color: #333;
  text-decoration: none;
}